<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/styles/style.css' | url }}" />
    <script src="/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/images/Favicon2.png">
    <title>The Pine Ridge Post</title>
  </head>
  <body>
    <header>
      
      <a href="/index/">
        <img
          class="logo"
          src="/images/The Pine Ridge Post.png"
          alt="The Pine Ridge Post"
          style="width: 21vw" 
        />
      <img
        class="logoSmall"
        src="/images/squareLogo.png"
        alt="The Pine Ridge Post"
        style="width: 18vw"
      />
      </a>
      <div class="account">
        <p>
          Signed in as
          <br />
          Morgan Thompson
        </p>
      </div>
      <button title="Turn on Dark Mode" id="dark" onclick="ButtonSwitchDark()">
        <img
          src="/images/dark_mode_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"
          alt="dark mode"
        />
      </button>
      <button
        title=" Turn on Light Mode"
        id="light"
        onclick="ButtonSwitchLight()"
      >
        <img
          src="/images/light_mode_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg"
          alt="Light Mode"
        />
      </button>
    </header>

    <main>
      <h1 class="mainheading">Pinned</h1>

      <div class="pinned-flex">
        {% for item in collections.pinned | reverse %}
        <div class="card">
          <a href="{{ item.url }}">
          <img
            src="{{ item.data.image }}"
            alt="{{ item.data.title }}"
            width="300px"
          />
          
            <h2>{{ item.data.title }}</h2>
          
          <p>Published {{ item.data.Fakedate }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </main>

    <footer>
      <p>
        In This Dull Town is created by IAM, and protected under a creative
        commons attribution non-commercial sharealike 4.0 international license.
        Please credit me if you make any derivitive work. I would love to see it
        too! Message me at
        <a 
        href="https://itdtofficial.tumblr.com/" target="_blank"
        >
          <u>https://itdtofficial.tumblr.com/</u></a
        >
        and see the rest of ITDT at 
        <a href="https://itdt-content.tumblr.com/" target="_blank"><u>https://itdt-content.tumblr.com/</u></a>
      </p>
    </footer>
  </body>
</html>
