body,
html {
  background-color: #f7f7f7;
  color: #000;
  margin: 0;
  overscroll-behavior: none;
  height: 100%;
  font-family: "work sans", sans-serif;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  margin: clamp(8px, 1vw, 24px);
  padding-bottom: clamp(80px, 12vh, 160px);
  grid-row: 2;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.mainheading {
  text-align: center;
}

.dark-mode {
  background-color: #252527;
  color: #fff;

  header,
  footer {
    background-color: #4c6156;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .card {
    background-color: #3f3f3f;
  }
}

header {
  background-color: #769183;
  padding: 20px;
  margin: 0px;
  display: flex;
  gap: 2vw;
  align-items: stretch;
  position: relative;
  height: clamp(40px, 6vh, 80px);
  align-items: center;
  overflow: hidden;
  grid-row: 1;
}
.account {
  margin-left: auto;
}
.logo {
  position: absolute;
  height: auto;
  max-width: 200px;
  object-fit: contain;
}
.logoSmall {
  position: relative;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  display: none;
}
header a {
  display: inline-flex;
  align-items: center;
}
header a img {
  display: block;
}

@media (max-width: 600px) {
  .logoSmall {
    display: block;
  }
  .logo {
    display: none;
  }
  body {
    font-size: smaller;
  }
  .pinned-flex {
    justify-content: center;
  }
  footer {
    font-size: smaller;
    padding: 2px;
  }
  h2 {
    font-size: large;
  }
}

#dark {
  background-color: #252527;
  color: #fff;
  border-style: none;
  padding: 12px;
}
#light {
  background-color: #f7f7f7;
  border-style: none;
  padding: 12px;
  display: none;
}
#dark,
#light :hover {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

.pinned-flex {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}
.card img {
  max-width: 250px;
}
.card p,
img,
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.card {
  max-width: 250px;
  min-width: 250px;
  text-wrap-mode: wrap;
  overflow: hidden;
  background-color: #d8d8d8;
  padding: clamp(10px, 4vh, 20px);
}

footer {
  background-color: #769183;
  padding: 20px;
  margin: 0px;
  gap: 2vw;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  margin-top: 2rem;
  grid-row: 3;
  font-size: small;
  box-sizing: border-box;
}
footer a {
  text-decoration: underline;
}

.home {
  padding: 0%;
}
